<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MugCups</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="https://www.google.com/url?sa=i&url=https%3A%2F%2Far.pinterest.com%2Fpin%2F1001558404610040724%2F&psig=AOvVaw0kJS3LqyUKUBN1lHKSB23T&ust=1723318111137000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCJivw7TS6IcDFQAAAAAdAAAAABAE" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.22/dist/sweetalert2.min.css" rel="stylesheet">
</head>
<body>
    {{{body}}}
    
    
</body>

</html>